{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>
Slight URL Fail Here...
</title>
</head>
<body>
<h1 class="pageTitle">Looks Like You've Found Yourself on a Non-Existent Page!</h1>
<h1 class="pageTitle" style="font-size:30px">If You Love the Troll Song, Stay Here! Otherwise, Click One of the Links Above!</h1>
<div>
<img class="winkingDevil" alt="winkingDevil" src="{% static 'images/winkingDevil.jpg' %}" style="padding-right:4em">
<iframe class="trollSong" src="https://www.youtube.com/embed/o1eHKf-dMwo?autoplay=1"
frameborder="0" allowfullscreen></iframe>
<img class="winkingDevil" alt="winkingDevil" src="{% static 'images/winkingDevil.jpg' %}" style="padding-left:4em">
</div>
</body>
</html>
