*.pyc
*.sqlite3
/fabfile.py
linuxConfig.json
localConfig.json
macConfig.json
serverConfig.json
update.sh
tmpFile*

# Checkstyle files
javascriptStyleErrors.txt
pythonStyleErrors.txt

# IntelliJ files
.idea
trollProject.iml
