{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>About the Troll</title>
<style>
pre {
	position:relative;
	left:0px;
	top:0px;
}
</style>
</head>
<body>
<h1>About</h1>
<div>
<img alt='rotatingFace' src="{% static 'images/trollFaceAbout.jpg' %}"
width="500" height="450" style="float:left;padding-left:100px">
<div style="float:right">
<pre id="redText" style="color:red">
Created out of boredom during the summer of my sophomore year,
this website is, as you couldn't tell previously <em>of course</em> (that's
called sarcasm), a website for all things troll. Trolling itself
was not an MIT thing per se, but it certainly was the culture of
my dorm, especially on the floor I was living on. Trolls ranged
from hiding my friend's TIE Fighter in my room for a month to
blocking another friend's door with old servers and computers.
Even when my friends and I did the same troll again, sometimes
to the same person, we still got a laugh out of it.
</pre>
<pre id="orangeText" style="color:orange">
As a major in Course 6 (Electrical Engineering and Computer Science
in normal people terms) though, I had always wanted to do a more
CS kind of troll. I finally got my break on April Fool's my sophomore
year, when I sent a prank email to one of my friends advertising a survey
that would enter him into a drawing for a Hot Wheels car. The link just
took him to a web page I created that played the troll song (originally
sung by Eduard Khil), a major component of this website as you will soon
see hopefully. :P
</pre>
<pre id="greenText" style="color:green">
This website is a compilation of the many software trolls that I have come
up with since. Many of them will be executables, which I can guarantee are
benign, but I still nevertheless encourage you to scan out of good habit (
executables can also be malicious viruses!). That part I'm definitely not
trolling you about! Like any software-related creation, it is always under
constant development, so I encourage to email me suggestions for improvements
at any time! May the troll be with you!
</pre>
</div>
</div>
</body>
</html>