{% include "trollApp/menuDisplay.html" %}

<!DOCTYPE html>
<html>
<head>
<title>Download the Troll</title>
<style>
p {
	color:orange
}

h2.OS {
	color:#FF8250;
	text-align:left
}
</style>
</head>
<body>
<h1 class="pageTitle">Example Troll Files</h1>
<p>Below are some samples that you can download for your own <em>convenience</em> (for real though, no trolls here,
at least for now...). To download, just click the link. Although we can assure you that these files are benign, we
<em>encourage</em> you nevertheless to perform a virus scan to double check! It is good practice to do so!</p>
<h2 class="OS">WINDOWS</h2>
{% for download in windows_downloads %}
	<a id="{{ download.getShortName }}" class="download" href="{% url 'trollApp:downloadFile' download.target_os download.filename %}">{{ download.description }}</a><br><br>
{% endfor %}
<h2 class="OS">LINUX</h2>
{% for download in linux_downloads %}
	<a id="{{ download.getShortName }}" class="download" href="{% url 'trollApp:downloadFile' download.target_os download.filename %}">{{ download.description }}</a><br><br>
{% endfor %}
<h2 class="OS">MAC</h2>
{% for download in mac_downloads %}
	<a id="{{ download.getShortName }}" class="download" href="{% url 'trollApp:downloadFile' download.target_os download.filename %}">{{ download.description }}</a><br><br>
{% endfor %}
</body>
</html>
