{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'trollApp/style.css' %}">
    <link rel="shortcut icon" href="/static/images/trollFaceIcon.ico" />
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/tabInTextarea.js' %}"></script>
    <script src="{% static 'js/verifyTextInput.js' %}"></script>
    <script src="{% static 'js/trollMenuBarHover.js' %}"></script>
    <script src="{% static 'js/rotatingTrollFaces.js' %}"></script>
</head>
<body>
<div>
    <h1 style="color:red">
        <img class='rotatingFace' id='rightRotatingFace' alt='rightRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
        Trollololer
        <img class='rotatingFace' id='leftRotatingFace' alt='leftRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
    </h1>
</div>
<h2 style="color:#FF6600">Your Website for all Wonderful Things Troll</h2>
<div style="width:100%">
    <div class="menuOption" id="home">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:home' %}">Home</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="about">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:about' %}">About</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="download">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:downloads' %}">Downloads</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="create">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:customCreate' %}">Create Your Own!</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="trollify">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:displayTrollEmail' %}">Trollify Your Email!</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="suggest">
        <img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:suggestions' %}">Send Suggestions!</a>
        <img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
</div>
<hr>
</body>
</html>
