{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'trollApp/style.css' %}">
<link rel="shortcut icon" href="/static/images/trollFaceIcon.ico" />
<script src="{% static 'js/jQuery-1.11.3.js' %}"></script>
<script src="{% static 'js/tabInTextarea.js' %}"></script>
<script src="{% static 'js/verifyTextInput.js' %}"></script>
<script src="{% static 'js/trollMenuBarHover.js' %}"></script>
<script src="{% static 'js/rotatingTrollFaces.js' %}"></script>
</head>
<body>
<div>
<h1 style="color:red">
<img class='rotatingFace' id='rightRotatingFace' alt='rightRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
Trollololer
<img class='rotatingFace' id='leftRotatingFace' alt='leftRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
</h1>
</div>
<h2 style="color:#FF6600">Your Website for all Wonderful Things Troll</h2>
<div>
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:home' %}">Home</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:about' %}">About</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:downloads' %}">Downloads</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:customCreate' %}">Create Your Own!</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:displayTrollEmail' %}">Trollify Your Email!</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<img class="burningFlame" id="burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
<a class="menuLink" href="{% url 'trollApp:suggestions' %}">Send Suggestions!</a>
<img class="burningFlame" id="burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
</div>
<hr>
</body>
</html>
