{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Resource for all Wonderful Things Troll" />
    <meta name="keywords" content="Trolloler,troll,trolling,trolled,song,face,trollify,resource,menu,
    suggestions,custom,create,about,Python,Windows,Linux,Mac,Tkinter,infinite,files,email,trollified,
    trollifying,download" />
    <meta name="author" content="The Troll Master" />
    <link rel="stylesheet" type="text/css" href="{% static 'trollApp/style.css' %}">
    <link rel="shortcut icon" href="/static/images/trollFaceIcon.ico" />
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/tabInTextarea.js' %}"></script>
    <script src="{% static 'js/verifyTextInput.js' %}"></script>
    <script src="{% static 'js/trollMenuBarHover.js' %}"></script>
    <script src="{% static 'js/rotatingTrollFaces.js' %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67835738-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div>
    <h1 style="color:red">
        <img class='rotatingFace' id='rightRotatingFace' alt='rightRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
        Trollololer
        <img class='rotatingFace' id='leftRotatingFace' alt='leftRotatingFace' src="{% static 'images/trollFace1.jpg' %}">
    </h1>
</div>
<h2 style="color:#FF6600">Your Website for all Wonderful Things Troll</h2>
<div style="width:100%">
    <div class="menuOption" id="home">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:home' %}">Home</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="about">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:about' %}">About</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="download">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:downloads' %}">Downloads</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="create">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:customCreate' %}">Create Your Own!</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="trollify">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:displayTrollEmail' %}">Trollify Your Email!</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="trollGames">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:trollGames' %}">Troll Games!</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
    <div class="menuOption" id="suggest">
        <img class="burningFlame burningFlameLeft" alt="burningFlame" src="{% static 'images/flame.gif' %}">
        <a class="menuLink" href="{% url 'trollApp:suggestions' %}">Send Suggestions!</a>
        <img class="burningFlame burningFlameRight" alt="burningFlame" src="{% static 'images/flame.gif' %}">
    </div>
</div>
<hr>
</body>
</html>
