{% include "trollApp/menuDisplay.html" %}

<!DOCTYPE html>
<html>
<head>
<title>Advise the Troll</title>
</head>
<body>
<h1 class="pageTitle">Send us your suggestions for new trolls and improvements to the website!</h1>
<form action="{% url 'trollApp:sendSuggestion' %}" method="post"><b style="color:orange">Send Your Suggestion!</b><br><br>
{% csrf_token %}
	{% if error_msg %}
		<div class=error><b>ERROR: </b>{{ error_msg }}</div><br>
		<textarea type=text id=suggestion name=suggestion>{{ prev_email }}</textarea><br><br>
	{% else %}
		<div class=error></div>
		<textarea type=text id=suggestion name=suggestion></textarea><br><br>
	{% endif %}
	<input type=submit value=Submit!>
</form>
</body>
</html>