{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>The Troll Master Got You!</title>
<style>
img.winkingDevil {
	height:300px;
	width:300px
}
</style>
</head>
<body>
<h1 class="pageTitle">You Just Got Trolled!<br>Refresh and <em>Maybe</em> You'll Get Your Content. :P</h1>
<div>
<img class="winkingDevil" alt="winkingDevil" src="{% static 'images/winkingDevil.jpg' %}" style="padding-right:4em">
<iframe class="trollSong" width="560" height="315" src="https://www.youtube.com/embed/o1eHKf-dMwo?autoplay=1""
frameborder="0" allowfullscreen></iframe>
<img class="winkingDevil" alt="winkingDevil" src="{% static 'images/winkingDevil.jpg' %}" style="padding-left:4em">
</div>
</body>
</html>