{% load staticfiles %}
{% include "trollApp/trollPageBase.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'trollApp/gameStyle.css' %}">
    <script src="{% static 'js/sound.js' %}"></script>
	<script>
		var playVideoProb = 0.5;

		$(document).ready(function(){
			$("#escape").click(function(){
				if(Math.random() < playVideoProb){
					alert("Some buttons are just too good to be true...");

					$.ajax({
						url: '/trollApp/playTrollSong',
						type: 'GET'
					});
				}
			});
		});
	</script>
