{% load staticfiles %}

<!DOCTYPE html>
<html>
{% include "trollApp/menuDisplay.html" %}
<head>
    <title>Trollify Your Email</title>
    <style>
        form > input.info {
            background:black;
            color:#ff5200;
            width:200px;
            height:20px;
        }
    </style>
</head>
<body>
<h1 class="pageTitle">Classic Troll: Make your messages deliberately confusing!</h1>
<div style="float:left;padding-bottom:2%;padding-left:3%;text-align:left">
    <form action="{% url 'trollApp:trollEmail' %}" method="post" onsubmit="return isValidInput(this)">
        <b class="textarea-instruction">1) Write Your Email Here and Trollify It!</b><br><br>
        {% csrf_token %}
        <div class=error></div>
        {% if error_msg or troll_email %}
            <textarea type=text id=origEmail name=origEmail>{{ orig_email }}</textarea><br><br>
        {% else %}
            <textarea type=text id=origEmail name=origEmail></textarea><br><br>
        {% endif %}
        <input type=submit value=Trollify!>
    </form>
</div>
<div style="width:15%;height:1px;float:left;"></div>
<div style="float:left;padding-left:3%;text-align:left">
    <form action="{% url 'trollApp:sendTrollEmail' %}" method="post"
          onsubmit="return isValidInput(this) && isValidSender(this) && isValidReceiver(this)">
        <b class="textarea-instruction">2) Send Your Newly Trollified Email!</b><br><br>
        {% csrf_token %}
        {% if error_msg %}
            <div class=error><b>ERROR: </b>{{ error_msg }}</div><br>
            <textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
            <b class="contact-info" id="sender">SENDER: </b><input class=info type=email id=sender name=sender value="{{ sender }}" required><br><br>
            <b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=email id=receiver name=receiver value="{{ receiver }}" required><br><br>
            <b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject value="{{ subject }}" required><br><br>

        {% elif troll_email %}
            <div class=error></div>
            <textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
            <b class="contact-info" id="sender">SENDER: </b><input class=info type=email id=sender name=sender required><br><br>
            <b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=email id=receiver name=receiver required><br><br>
            <b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>

        {% else %}
            <div class=error></div>
            <textarea type=text id=email name=email></textarea><br><br>
            <b class="contact-info" id="sender">SENDER: </b><input class=info type=email id=sender name=sender required><br><br>
            <b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=email id=receiver name=receiver required><br><br>
            <b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>
        {% endif %}
        <input type=submit value=Submit!>
    </form>
</div>
</body>
</html>
