{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Trollify Your Email</title>
<style>
b.contact-info {
    color:red;
    font-size:150%;
}

div#becomes {
	float:left;
	padding-left:3em;
	padding-right:3em;
	padding-top:7em;
	text-align:left;
}

div#becomes > h1 {
    color:red;
    font-size:300%;
    padding-left:1em;
    padding-right:1em;
    padding-top:2em;
}

form > input.info {
	background:black;
	color:#ff5200;
	width:200px;
	height:20px;
}
</style>
</head>
<body>
<h1 class="pageTitle">Classic Troll: Make your messages deliberately confusing!</h1>
<div style="float:left;text-align:left">
<form action="{% url 'trollApp:trollEmail' %}" method="post"><b class="textarea-instruction">Write Your Email Here, and We'll Trollify It!</b><br><br>
{% csrf_token %}
	<div class=error></div>
	{% if error_msg or troll_email %}
		<textarea type=text id=origEmail name=origEmail>{{ orig_email }}</textarea><br><br>
	{% else %}
		<textarea type=text id=origEmail name=origEmail></textarea><br><br>
	{% endif %}
	<input type=submit value=Trollify!>
</form>
</div>
<div id=becomes>
<h1>BECOMES...</h1>
</div>
<div style="float:left;text-align:left">
<form action="{% url 'trollApp:sendTrollEmail' %}" method="post"><b class="textarea-instruction">Send Your Newly Trollified Email!</b><br><br>
{% csrf_token %}
	{% if error_msg %}
		<div class=error><b>ERROR: </b>{{ error_msg }}</div><br>
		<textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
		<b class="contact-info" id="sender">SENDER: </b><input class=info type=text id=sender name=sender value="{{ sender }}" required><br><br>
		<b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=text id=receiver name=receiver value="{{ receiver }}" required><br><br>
		<b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject value="{{ subject }}" required><br><br>

	{% elif troll_email %}
		<div class=error></div>
		<textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
        <b class="contact-info" id="sender">SENDER: </b><input class=info type=text id=sender name=sender required><br><br>
        <b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=text id=receiver name=receiver required><br><br>
        <b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>

	{% else %}
		<div class=error></div>
		<textarea type=text id=email name=email></textarea><br><br>
        <b class="contact-info" id="sender">SENDER: </b><input class=info type=text id=sender name=sender required><br><br>
        <b class="contact-info" id="receiver">RECEIVER: </b><input class=info type=text id=receiver name=receiver required><br><br>
        <b class="contact-info" id="subject">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>
	{% endif %}
	<input type=submit value=Submit!>
</form>
</div>
</body>
</html>
