{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Trollify Your Email</title>
<style>
div#becomes {
	float:left;
	padding-left:3em;
	padding-right:3em;
	padding-top:7em;
	text-align:left;
}

img#trollAtComputer {
	width:500px;
	height:305px;
	padding-left:10px;
	padding-top:20px;
}

form > input.info {
	background:black;
	color:#ff5200;
	width:200px;
	height:20px
}
</style>
</head>
<body>
<h1 class="pageTitle">Classic Troll: Make your messages deliberately confusing!</h1>
<div style="float:left;text-align:left">
<form action="{% url 'trollApp:trollEmail' %}" method="post"><b style="color:orange">Write Your Email Here, and We'll Trollify It!</b><br><br>
{% csrf_token %}
	<div class=error></div>
	{% if error_msg or troll_email %}
		<textarea type=text id=trollEmail name=trollEmail>{{ orig_email }}</textarea><br><br>
	{% else %}
		<textarea type=text id=email name=email></textarea><br><br>
	{% endif %}
	<input type=submit value=Trollify!>
</form>
</div>
<div id=becomes>
<h1 style="color:red">becomes...</h1>
</div>
<div style="float:left;text-align:left">
<form action="{% url 'trollApp:sendTrollEmail' %}" method="post"><b style="color:orange">Send Your Newly Trollified Email!</b><br><br>
{% csrf_token %}
	{% if error_msg %}
		<div class=error><b>ERROR: </b>{{ error_msg }}</div><br>
		<textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
		<b style="color:red">SENDER: </b><input class=info type=text id=sender name=sender value="{{ sender }}" required><br><br>
		<b style="color:red">RECEIVER: </b><input class=info type=text id=receiver name=receiver value="{{ receiver }}" required><br><br>
		<b style="color:red">SUBJECT: </b><input class=info type=text id=subject name=subject value="{{ subject }}" required><br><br>

	{% elif troll_email %}
		<div class=error></div>
		<textarea type=text id=trollEmail name=trollEmail>{{ troll_email }}</textarea><br><br>
		<b style="color:red">SENDER: </b><input class=info type=text id=sender name=sender required><br><br>
		<b style="color:red">RECEIVER: </b><input class=info type=text id=receiver name=receiver required><br><br>
		<b style="color:red">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>
	{% else %}
		<div class=error></div>
		<textarea type=text id=email name=email></textarea><br><br>
		<b style="color:red">SENDER: </b><input class=info type=text id=sender name=sender required><br><br>
		<b style="color:red">RECEIVER: </b><input class=info type=text id=receiver name=receiver required><br><br>
		<b style="color:red">SUBJECT: </b><input class=info type=text id=subject name=subject required><br><br>
	{% endif %}
	<input type=submit value=Submit!>
</form>
</div>
</body>
</html>