{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Troll Games</title>
    <style>
        p {
            color:orange;
        }
    </style>
</head>
<body>
<h1 class="pageTitle">Welcome to the Troll Games!</h1>
<p style="font-size:20px">
    Trolling is all about entertainment, so why try out some of these games with troll twist?<br>
    Below are links to games that you can play for your own entertainment and our...well you'll see :P<br><br>
    <b>NOTE:</b> If you have any suggestions for more such games, just send us an email via the "Send Suggestions" tab!</p>
<a class="trollGame" href="{% url 'trollApp:trollSpeedTyping' %}">Speed Typing</a><br><br>
<a class="trollGame" href="{% url 'trollApp:trollAlienInvasion' %}">Alien Invasion</a>
</body>
</html>
