{% include "trollApp/menuDisplay.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Home of the Troll</title>
<style>
textarea {
	background:black;
	border:none;
	color:#FF6600;
	font-size:30px;
    font-weight:bold;
	height:300px;
	padding-right:1em;
	width:300px;
}
</style>
</head>
<body>
<h1 class="pageTitle">Greetings, Fellow Troll!</h1>
<div>
<textarea disabled>
May the troll&#13;&#10;be with you!&#13;&#10;&#13;&#10;Navigate this website at your&#13;&#10;peril! Hehehe...
</textarea>
<iframe class="trollSong" width="560" height="315" src="https://www.youtube.com/embed/o1eHKf-dMwo?autoplay=1"
frameborder="0" allowfullscreen></iframe>
<img class="welcomeDevil" alt="welcomeDevil" src="{% static 'images/welcomeDevil.jpg' %}"
height="300" width="300" style="padding-left:5em">
</div>
</body>
</html>
