a {
	display:inline-block;
	float:right;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

body {
	background:black;
}

.containItem {
	color:red;
	display:inline-block;
	font-size:200%;
	font-weight:bold;
}
