a.menuLink {
    color:red;
    font-size:125%;
    font-weight:bold;
    text-decoration:none;
}

a.menuLink:hover {
    text-decoration:underline;
}

a.download {
    color:red;
    font-size:150%;
    font-weight:bold;
    text-decoration:none;
}

a.download:hover {
    text-decoration:underline;
}

b.contact-info {
    color:red;
    font-size:150%;
}

b.textarea-instruction {
    color:orange;
    font-size:175%;
}

body {
    background: black;
    border:0;
    margin:0;
    padding:0;
}

div, h1, h2 {
    text-align:center;
}

div.error {
    color:red;
    font-size:170%;
    text-align:left;
}

div.menuOption {
    display:inline-block;
    height:35px;
    padding-left:2%;
    padding-right:2%;
}

div.menuOption {
    display:inline-block;
    height:35px;
    padding-left:1%;
    padding-right:1%;
}

div#about {
    width:125px;
}

div#create {
    width:230px;
}

div#download {
    width:170px;
}

div#home {
    width:125px;
}

div#suggest {
    width:225px;
}

div#trollSpeedTyping {
    width:190px;
}

div#trollify {
    width:250px;
}

form > textarea {
    background:black;
    color:#ff5200;
    font-size:125%;
    font-weight:bold;
    height:400px;
    resize:none;
    width:500px;
}

h1 {
    font-size:250%;
}

h2 {
    font-size:200%;
}

iframe.trollSong {
    height:22em;
    width:30em;
}

img.burningFlameLeft {
    padding-left:1.5%;
}

img.burningFlameRight {
    padding-right:1.5%;
}

img.burningFlame {
    height:25px;
    width:25px;
}

img.rotatingFace {
    height:1em;
    width:1em;
}

img.winkingDevil {
    height:20em;
    width:20em;
}

input[type=submit] {
    font-size:120%;
}

h1.pageTitle {
    color:#FF8250;
}

html {
    border:0;
    margin:0;
    padding:0;
}
