a.menuLink {
    color:red;
    font-weight:bold;
    text-decoration:none
}
a.menuLink:hover {
    text-decoration:underline
}
a.download {
    color:red;
    font-size:20px
}
body {
    background: black
}
div, h1, h2 {
    text-align:center
}
div.error {
    text-align:left;
    color:red
}
form > textarea {
    background:black;
    color:#ff5200;
    width:500px;
    height:300px
}
iframe.trollSong {
    width:560px;
    height:315px;
    frameborder:0px
}
img.burningFlame {
    height:20px;
    width:20px
}
img#burningFlameRight {
    padding-right:5em
}
img.rotatingFace {
    height:40px;
    width:40px
}
h1.pageTitle {
    color:#FF8250
}
