a.menuLink {
    color:red;
    font-size:125%;
    font-weight:bold;
    text-decoration:none;
}
a.menuLink:hover {
    text-decoration:underline;
}

a.download {
    color:red;
    font-size:150%;
    font-weight:bold;
    text-decoration:none;
}

a.download:hover {
    text-decoration:underline;
}

b.textarea-instruction {
    color:orange;
    font-size:175%;
}

body {
    background: black;
}

div, h1, h2 {
    text-align:center;
}

h1 {
    font-size:250%;
}

h2 {
    font-size:200%;
}

div.error {
    color:red;
    text-align:left;
}

form > textarea {
    background:black;
    color:#ff5200;
    width:50em;
    height:40em;
    resize:none;
}

iframe.trollSong {
    width:30em;
    height:22em;
}

input[type=submit] {
    font-size:100%;
}

img.burningFlame {
    height:2em;
    width:2em;
}

img#burningFlameLeft {
    padding-left:2.5em;
}

img#burningFlameRight {
    padding-right:2.5em;
}

img.rotatingFace {
    height:1em;
    width:1em;
}
h1.pageTitle {
    color:#FF8250;
}
